@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.white { color: #fff; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 59.40%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  position: absolute; 
  z-index: 1;
}

header .wrapper {
  padding: 15px 0 10px;
  border-bottom: 1px solid #777;
  display: flex;
  justify-content: space-between;
}

.logo a { text-indent: -9999px; }
.logo img { float: right; }

.menu {
  margin-left: auto;
  margin-right: 2%;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 2px;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  background-color: #000;
  transition: all 0.5s ease;
}

.hamburger span:nth-child(1) {top:30%;}
.hamburger span:nth-child(3) {top:70%;}
.hamburger:hover span:nth-child(2) {opacity:0;}
.hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(5px,5px);}
.hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(7px,-7px);}

/*nav menu starts here*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.nav-menu > li { position: relative; }

.nav-menu a {
  padding: 2px 16px;
  color: #fff;
  font-size: 9px;
  font-weight: 900;
  transition: color .5s ease;
}
.nav-menu > li:nth-child(1) a { color: #fead01; }

.drop > a:after {
  margin-left: 5px;
  content: '\f078';
  font: 900 7px 'Font Awesome 5 Free';
  vertical-align: middle;
}


/*dropdown menu starts here*/
.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.dropdown-menu li { background-color: #fff; }
.dropdown-menu a { color: #394143; }
.drop:hover .dropdown-menu { display: flex; }

.social {
  display: flex;
  justify-content: center;
}

.social a { text-indent: -9999px; }

.social a::before {
  padding: 5px 8px;
  color: #fff;
  font: 900 11px 'Font Awesome 5 Brands';
  vertical-align: middle;
  float: right;
  text-indent: 0;
  transition: all 0.5s ease;
}

.facebook a::before { content: "\f082"; }
.twitter a::before { content: "\f099"; }
.instagram a::before { content: "\f16d"; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner styling starts here*/
.banner { position: relative; }
.banner .wrapper { 
  width: 100%; 
  position: relative;
}
.slider li:nth-child(2),
.slider li:nth-child(3) { display: none; }
.slider { text-align: center; }

.banner-text { 
  position: absolute;
  top: 42%;
  left: 49.5%;
  transform: translate(-50%,-50%);
}

.banner-text h2 {
  width: 80%;
  margin: 0 auto;
  font-size: 45px;
  font-weight: 900;
}

.more-info {
  margin: 30px 0 87px;
  display: flex;
  justify-content: center;
}

.contact-us { margin-left: 1.5%; }

.more-info a {
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 11px;
}

.read-more a {
  color: #000;
  background-color: #fead01;
}

.contact-us a {
  border: 1px solid #fff;
  color: #fff;
  transition: all .5s ease;
}

.project-list {
  display: flex;
  justify-content: space-around;
}

.completed-projects {
  margin: 0 10px;
  font-size: 22px;
  font-weight: 900;
}

.slider-circle {
  position: absolute;
  bottom: 10%;
  right: 4%;
}

.slider-circle a { text-indent: -9999px }

.slider-circle a::after {
  content: '';
  width: 7px;
  height: 7px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  float: right;
  text-indent: 0;
}

/*banner styling ends here*/
/*change styline starts here*/
.change .wrapper {
  padding: 60px 0 33px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.change figure { width: 48%; }
.change-text { width: 49.5%; } 

.change-text h3 {
  margin-bottom: 5px;
  color: #111;
  font-size: 17px;
  font-weight: 900;  
}

.change-text p {
  margin-bottom: 10px;
  color: #666;
  font-size: 11px;
  line-height: 20px;  
}

.change-text div { margin-top: 20px; }
.change-text a {
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 11px;
}

/*change styline ends here*/
/*global info starts here*/
.global .wrapper {
  padding: 46px 0 85px;
  display: flex;
  justify-content: space-between;
}

.global li { width: 25%; }

.global li::before {
  content: '\f57d';
  margin-right: 10%;
  display: inline-block;
  color: #fead01;
  font: 900 18px 'Font Awesome 5 Free';
}

.global h4 {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: capitalize;
}

.global p {
  width: 90%;
  margin-left: 40px;
  color: #888;
  font-size: 10px;
  line-height: 18px;
}
/*global info ends here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  .nav-menu li:hover > a,
  .social li:hover a::before { 
    color: #fead01; 
    transition: color .5s ease;
  }

  .contact-us:hover a {
    border: 1px solid #fead01;
    background-color: #fead01;
    color: #000;
    transition: all .5s ease;
  }


}  